* {
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
}

.header {
  color: white;
  background: black;
  height: 200px;
  padding-top: 75px;
  text-align: center;
  font-size: 4em;
}

.basic-results {
  height: 200px;
}

img {
  height: 200px;
  width: 205px;
}
